polars 
pandas 
matplotlib 
google-cloud-bigquery 
biopython 
networkx
torch --index-url https://download.pytorch.org/whl/cpu  
torchvision --index-url https://download.pytorch.org/whl/cpu  
torchaudio --index-url https://download.pytorch.org/whl/cpu 
transformers